.mapContainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}
#map{
  height: 100vh;
  left: 35%;
  width: 65%;
}
#mapElement {
  height: 100vh;
  left: 35%;
  width: 65%;
}

.heading {
  background-color: #222;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: #42dcf4;
  text-align: right;
  margin: 0;

}
.menu {
    width: 35%;
    background-color: black;
    height: 100vh;
    margin: 0;
  }

.hamburger {
 display: block;
 position: absolute;
 top: 20px !important;
 left: 35%;
 cursor: pointer;
  }

.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background: #42dcf4;
  margin: 5px 0px;
}

.search {
  display: block;
  position: absolute;
  top: 30px !important;
  left: 5px;
}

.search .input {
  width:85%;
}

.places {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li{
  font-size: 13px;
  color: #42dcf4;
  font-weight: bold;
  border-bottom: 0.5px solid grey;
  cursor: pointer;
}

#footer {
  color: #42dcf4;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .heading {
    text-align: right;
    height: 60px;
    width: 100%;
    padding: 15px;
  }
  .list li {
    font-size: 13px;
    font-weight: bold;
  }

}

@media screen and (max-width: 630px) {
  .heading {
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    height: 40px;
  }

  .menu {
    top: 0!important;
  }
  .hamburger {
    top: 5px !important;
  }
  .search {
    top: 10px !important;
    left: 5px;
  }
  .list li {
    font-size: 11px;
    font-weight: bold;
  }

}

@media screen and (max-width: 520px) {
  .heading {
    font-size: 17px;
  }
  .search {
    width: 35%;
  }
  .list li {
    font-size: 9px;
    font-weight: bold;
  }
  #footer {
    font-size: 11px;
    font-weight: bold;
  }
}
