.mapContainer{
  display: flex;
  flex-wrap: wrap;
}

.heading {
  background-color: #222;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  margin: 0;
}
.menu {
    width: 20%;
    background-color: red;
    height: 100vh;
    margin: 0;
  }
